form {
    padding: 1% 20%;
}

select {
    background-color: #efefef;
    padding: 1% 2%;
    margin-right: 5%;
    border-radius: 5px;
    border-style: none;
}

input[type=number] {
    background-color: #efefef;
    padding: 1% 0px 1% 2%;
    border-radius: 5px;
    border-style: none;
    width: 50px;
}

input[type=submit] {
    background-color: #002ef8;
    color: antiquewhite;
    border-radius: 5px;
    border-style: none;
    padding: 1% 2%;
    margin: 1%;
}